@charset "utf-8";
/* CSS Document */



 header{height: 90px; border-bottom: 1px solid #351f67; background-color: #FFFFFF;}/*헤더 밑줄*/ 
 header nav{position: relative; width: 1120px;}/*nav 영역*/
 header nav .aside_container{display: flex; justify-content: space-between; padding-top: 10px; color: #444;}
 header nav .aside_container aside{display: flex; justify-content: space-between; width: 250px; margin: 0;}
 header nav .aside_container aside:first-of-type{}
 header nav .aside_container aside:last-of-type{}
 header nav .aside_container aside:last-of-type a{}
 header nav .aside_container aside a:hover{text-decoration: underline;}
 header nav .menu{display: flex; height: 70px;margin: 0; clear: both; font-size: 20px;}
 header nav .menu ul{padding: 0; padding-top: 25px; margin: 0;}
 header nav .menu ul:first-of-type{width: 10%;}
 header nav .menu ul:first-of-type li{width: 36px; height: 36px; text-align: center;}
 header nav .menu ul:nth-of-type(2){display: flex; justify-content: space-around; width: 40%; margin-right: 90px;}
 header nav .menu ul:nth-of-type(3){display: flex; justify-content: space-around; width: 40%; margin-left: 90px;}
 header nav .menu ul:last-of-type{display: flex; justify-content: flex-end; width: 10%;}
 header nav .menu ul:last-of-type li:last-of-type{width: 36px; height: 36px; text-align: center;}
 header nav .menu ul li{float: left;}
 header nav .menu ul li a{}
 header nav h1{position: absolute; top: 30%; left: 44%;}
 footer{margin-top: 50px;}


#page_nav{position: sticky; top: 0; z-index: 20000; height: 42px; background-color: #f8f8fa;}
#page_nav:ac{background-color: white;}
#page_nav p{position: relative; width: 1120px; line-height: 42px;}
#page_nav p a{float: left; display: inline-block; width: 60px; color: #666;}
#page_nav p a:first-of-type{float: left; display: inline-block; width: 30px;}
#page_nav p a:nth-of-type(2){float: left; display: inline-block; width: 45px;}
#page_nav p a:first-of-type::after{position: absolute; top: 16px; left: 15px; background-image:url("../img/bg-location-arr.png"); content: ""; width: 10px; height: 10px; background-size: 100% 100%;}
#page_nav p a:nth-of-type(2)::after{position: absolute; top: 16px; left: 62px; background-image:url("../img/bg-location-arr.png"); content: ""; width: 10px; height: 10px; background-size: 100% 100%;}
#page_nav p a:hover{text-decoration: underline;}



/********/
#page_nav.active {
background: #CEC1E4;
}




#all_movies{position: relative;width: 1120px; height: 2680px; color: #fff;} /*메인 영역*/
#all_movies h2{color: #000000; margin-top: 40px; font-weight: 400; font-size: 28px;}
#all_movies p{float: left; color: #000000; width: 50%; margin-top: 20px; font-weight: 400;}
#all_movies .search{float: right; width: 330px; }
#all_movies .search a{float: left; margin: 7px;}
#all_movies .search .seachbox{float: right; margin-left: 10px; background: white; border: 1px solid #ccc; border-radius: 4px;}
#all_movies .search .seachbox input{width: 160px; height: 35px; margin-left: 10px; outline: none; border: none;}
#all_movies .search .seachbox button{float: right; width: 30px; height: 30px; margin-top: 2px; background: white; border: none; cursor: pointer;}
#all_movies ul{display: flex; justify-content: space-between; flex-wrap: wrap ; width: 1110px; height: 410px; margin: 0; padding-top: 20px;}
#all_movies ul li{width: 230px; height: 450px; margin: 0 0 60px 0 ;}
#all_movies ul li dl{}
#all_movies ul li dl dt{position: relative;}
#all_movies ul li dl dt:hover .m_hov{opacity: 1;}
#all_movies ul li dl dt a {}
#all_movies ul li dl dt a img{width: 230px; height: 331px;}
#all_movies ul li dl dt a>span{display: block; position: absolute; top: 0; left: 0; width: 230px; height: 331px;}
#all_movies ul li dl dt a span{}
#all_movies ul li dl dt a span.m_rank{left: 10px; font-size: 35px; font-style: italic; text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);}
#all_movies ul li dl dt a span.m_db{position: absolute; top: 10px; left: 120px; width: 61px; height: 35px; margin: 0; background-color: rgba(0,0,0,0.6); border-radius: 5px; text-align: center; line-height: 45px;}
#all_movies ul li dl dt a span.m_mx{position: absolute; top:10px; left: 185px; width: 34px; height: 34px; margin: 0; background-color: rgba(0,0,0,0.6); border-radius: 5px; text-align: center; line-height: 40px;}
#all_movies ul li dl dt a span.m_classic{position: absolute; top:290px; left: 190px; margin: 0;}
#all_movies ul li dl dt a span.m_classic img{width: 30px; height: 29px;}
#all_movies ul li dl dt a span.m_film{position: absolute; top:290px; left: 190px; margin: 0;}
#all_movies ul li dl dt a span.m_film img{width: 30px; height: 29px;}
#all_movies ul li dl dt a span.m_hov{position: absolute; top: 0; left: 0; width: 190px; height: 291px; padding: 20px 20px 20px 20px; background-color: rgba(0,0,0,.8); opacity: 0;}
#all_movies ul li dl dt a span.m_hov span{display: inline-block; width: 190px; height: 250px; margin: 0 auto;}
#all_movies ul li dl dt a span.m_hov span:first-of-type{height: 152px; overflow: hidden; margin-bottom: 90px;}
#all_movies ul li dl dt a span.m_hov>span.m_score{width: 190px; height: 50px; padding-top: 5px; border-top: 1px solid rgba(255,255,255,.2); text-align: center;}
#all_movies ul li dl dt a span.m_hov span.m_score span{display: inline; font-size: 14px;}
#all_movies ul li dl dt a span.m_hov span.m_score span span{display: inline; font-size: 30px; color:#037b94;}
#all_movies ul li dl dt a span.m_db img{width: 45px; height: 19px;}
#all_movies ul li dl dt a span.m_mx img{width: 20px; height: 19px;}
#all_movies ul li dl dd{position: relative; width:  245px; height: 36px; color: #000000;}
#all_movies ul li dl dd h3{width: 200px; height: 17px; margin: 0; padding: 10px 0; padding-left: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size:20px;}
#all_movies ul li dl dd h3:before{position: absolute; top: 10px; left: 0; content: ""; width: 23px; height: 23px; background-size: 100% 100%;}
#all_movies ul li dl dd .tw_age:before{background-image: url("../img/12_46x46.png");}
#all_movies ul li dl dd .fi_age:before{background-image: url("../img/15_46x46.png");}
#all_movies ul li dl dd .all_age:before{background-image: url("../img/ALL_46x46.png");}
#all_movies ul li dl dd .ei_age:before{background-image: url("../img/18_46x46.png");}
#all_movies ul li dl dd span{}
#all_movies ul li dl dd p>span:first-of-type::after{content: "|"; padding-left: 5px;}
#all_movies ul li dl dd button{width: 77px; height: 37px;line-height: 37px; background: none; border: 1px solid #ebebeb; border-radius: 4px; cursor: pointer; margin: 0; padding: 0;}
#all_movies ul li dl dd button img{float: left; padding-left: 8px; margin: 0;}
#all_movies ul li dl dd button span{font-size: 17px; color: #503396; margin: 0;}
#all_movies ul li dl dd p{display: flex; justify-content: space-between; align-items: center; width: 230px; height: 36px; margin: 0;}
#all_movies ul li dl dd p a{display: inline-block; width: 150px; margin: 0;margin-top: 0px; height: 36px; line-height: 36px; text-align: center;  border-radius: 4px; background: #503396; color: #fff;}
#all_movies ul li dl dd a img{}
#all_movies ul li dl .double_btn a{width: 74px;}
#all_movies ul li dl .double_btn a:last-of-type{}
#all_movies ul li dl .double_btn a img{}


.post_etc{display: block; width: 1120px; height: 35px; line-height: 35px; text-align: center; border: 1px solid #ccc; color: #000;}
.post_etc:hover{border: 1px solid #4B4B4B;}
.post_etc img{padding-left: 5px;}

#btn_area{position: absolute; top: 390px; right:280px; width: 100px; height: 2370px;}
#btn_area .top_btn{float: right; position: sticky; top: 800px; z-index: 1000; color: #000;}/********/

#footer_container{width: 100%; background: #f8f8fa;}
footer{padding-top: 40px;}

